.build/
dist/
node_modules/
.DS_Store
.env
.env.*
!.env.example
*.xcuserdata
*.swp
Config.local.json
DerivedData/
*.xcuserstate
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
database.json
Snapshots/
*.png
*.jpg
*.jpeg
*.heic
*.mov
